/* Logs section */
.logs {
    text-align: center;
    background-color: #f1f1f1;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    border: 3px solid #ff5722; /* Matching the theme color */
}

/* Heading for detected objects */
.logs h2 {
    font-size: 28px;
    color: #212121;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Detected log items */
#detected-logs {
    list-style-type: none;
    font-size: 18px;
}

#detected-logs li {
    background-color: #ffeb3b;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    color: #212121;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#detected-logs li:nth-child(odd) {
    background-color: #ffc107;
}

/* Style for the video feed */
#video {
    border: 5px solid #ff5722;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Add a responsive design for smaller screens */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    .header h1 {
        font-size: 28px;
    }

    .webcam-feed img {
        width: 100%;
        max-width: none;
    }

    .logs h2 {
        font-size: 24px;
    }
}
